.DS_Store
*.log

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
/[Aa]ssets/AssetStoreTools*

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.vs/
.idea/
*.apk
*.aab
*.unitypackage
sysinfo.txt
crashlytics-build.properties

InitTestScene*.unity*
ExportedObj/
.consulo/

*.pidb.meta
*.pdb.meta
*.mdb.meta
